<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../assets/header.css">
		<link rel="stylesheet" href="../assets/main.css">
		<link rel="stylesheet" href="../assets/userpage.css">
		<link rel="stylesheet" href="../assets/footer.css">
	</head>
	<body>
		<header></header>
		<main>
			<div class="userdata">
				<div class="avatarbox border">
					<img height="250px" width="250px" src="../assets/no_avatar.svg"/>
				</div>
				<div class="status border">
					Text
				</div>
				<h1 class="tag">Username</h1>
				<h3 class="tag utag">Usertag</h3>
			</div>
			<div class="repositories">
				<div class="repository border">
					<a class="repo_title">Repo title</a>
					<button class="repo_star">Star</button>
					<p class="repo_desc">This is a test repository</p>
					<div>
						<span class="r_data r_dot"></span>
						<p class="r_data r_lang">C#</p>
						<p class="r_data r_lu">last updated x hours</p>
					</div>
				</div>
			</div>
		</main>
		<footer></footer>
	</body>
</html>